body {
    width: 1000px;
    height: 900px;
    background-color: #CACAD1;
 
    
}

img {
    height: 200px;
    width: 200px;
    
}

.nav {
    width: 200px;
    height: 200px;
    background-color: #8C84A5;
    font-family: sans-serif;
    line-height: 50px;
    margin-left: -30px;
    float: left;
}


.nav li a:hover {
    background-color: #E9F4FF;
    text-decoration: none;
}

.universe {
    width: 400px;
    height: 60px;
    background-color: #A1B1E5;
    border: 2px solid blue;
    border-radius: 125px;
    margin-left: 250px;
    padding-left: 60px;
    margin-bottom: 10px;
    
}

ul {
    list-style: none;
    
}

img {
    width: 150px;
    height: 150px;
    margin-top: 125px;
    margin-left: -175px;
    clear: both;
    
    
}