body {

width: 1450px;
height: 700px;
background-color: #CACAD1;

}



ul {
    list-style: none;
}


.nav {
    width: 200px;
    height: 475px;
    background-color: #8C84A5;
    font-family: sans-serif;
    line-height: 50px;
    margin-left: 5px;
    float: left;
}

.nav li a:hover {
    background-color: #E9F4FF;
    text-decoration: none;
}

.container {
    width:400px;
    height: 325px;
    padding-right: 10px;
    font-family: Bellefair, Roboto, Open Sans;
    background-color: #A1B1E5;
    display: inline-flex;
    flex-direction: row;
    border: 2px solid black;
    float: right;
   
    
    }
.para {
    clear: both;
    padding-left: 10px;
    font-family: Bellefair, Roboto, Open Sans;
    font-size: 18px;

    
}

h3 {
    padding-left: 1px;
    
}

img {
    width: 200px;
    height: 161px;
    margin-top: 20px;
    margin-left: 5px;
   
    
    
}