/* Document information - Author: Erma Pecoraro */

body {
    
    width: 1400px;
    height: 900px;
    background-image: url("fractal.jpg");
    
}

ul {
    list-style: none;
    
    
    
}

.nav a {
    color: #FFFFFF;
}


.nav {
    width: 200px;
    height: 200px;
    background-color: #8C84A5;
    font-family: sans-serif;
    line-height: 50px;
    margin-left: -30px;
   
    
    
}

p {
    margin-top: 30px;
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: 40px;
    font-weight: 25px;
    font-style: italic, bold;
    color: #FFFFFF;
    
}
/*Quote area*/
.quote {
    width: 500px;
    height: 500px;
    font-family: Bellefair, sans-serif;
    font-stretch: italic;
    font-size: 20px;
    margin-left: 500px;
    color: #FFFFFF;
    font-style: italic;
    margin-top: 200px;
}

img {
    width: 25%;
    margin-bottom: 10px;
    float: right;
    margin: 0 0 10px 10px;
}




/*wake the machine. code for involution.*/